@mixin var-responsive($width) {
   @media (max-width: $width) { @content; }
}

@mixin media-breakpoint-down-sm {
     @media (max-width: 767.98px) { @content; }
}

@mixin media-breakpoint-down-md {
   @media (max-width: 991.98px) { @content; }
}



.dropdown-wrapper-shop{
   width: 350px;
   position: absolute;
   right: 0;
   z-index: 9999;
   padding-top:10px;
   display: none;
   @include var-responsive(405px){
      width: 250px;
   }
}
.shop-items-holder{
   display: block!important;
   background-color: white;
   padding: 20px 20px;
   -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.05);
   -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.05);
   box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.05);

   .cart-detail{
      .no-products{
         font-size: 100%;
         line-height: 32px;
         font-weight: 400;
         text-align:unset;
         @include media-breakpoint-down-sm{
            font-size: 12px;
            line-height: 18px;
         }
      }
   }
   .items{
      .item{
         position: relative;
         display: flex;
         flex-wrap: wrap;
         padding-bottom: 10px;
         border-bottom: 1px solid #F1F3FB;
         margin-bottom: 10px;
         &:last-of-type{
            border-bottom: none;
         }
         
         &-delete{
            top: 0;
            right: 0;
            position: absolute;
            a{
               color: rgba(0,0,0,0.16);
               z-index:999;
            }
            i{
               vertical-align: top;
               cursor: pointer;
            }
         }

         &-image{
            flex-grow: 1;
            width: 30%;
            img{
               height: 93px;
               width: 100%;
               @include var-responsive(405px){
                  height: 63px;
               }
            }
         }
         &-description{
            flex-grow: 1;
            width: 70%;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            .item-title{
               align-self: flex-start;
               h6{
                  padding-right: 15px;
                  font-size: 14px;
                  color: #898B98;
                  font-weight: 500;
                  margin-bottom: 0;
                  text-decoration: none;
                  text-transform: none;
                  letter-spacing: initial;
               }
            }
            .item-info{
               flex-grow: 1;
               width: 100%;
               display: flex;
               align-items: flex-end;
               span:first-of-type{
                  input{
                     width: 50px;
                     border: none;
                     color: #898B98;
                     &:focus{
                        outline: none;
                     }

                     @include media-breakpoint-down-md{
                        border: 1px solid rgba(0,0,0,0.1);
                        padding-left: 10px;
                        line-height: 24px;
                        margin-left: 10px;
                        border-radius: 5px;
                     }
                  }
                  flex-grow:1;
                  font-size: 12px;
                  color: #898B98;
               }
               span:last-of-type{
                  font-size: 14px;
                  color: #898B98;
               }
            }
         }

      }
   }
   .shop-details{
      display: flex;
      background-color: rgba(0,0,0,0.03);
      padding: 6px 10px;
      margin-bottom: 15px;
      .info-block{
         flex-grow: 1;
         span{
            font-size: 14px;
            line-height: 14px;
            color: #898B98;
            font-weight: 500;
         }
         text-transform: uppercase;
         letter-spacing: 1px;
      }
      .total{
         span:last-of-type{
            font-weight: 700;
         }
         text-align:right;
      }
   }
   .buy{
      display: inline-block;
      width: 100%;
      padding: 15px;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 2px;
      text-align: center;
      span{
         color: inherit;
         font-size: inherit;
         line-height: inherit;
      }
      &:after{
         display:none;
      }
   }
         
   @include var-responsive(405px){
      .shop-details .info-block{
         width: unset;
      }
      .buy{
         span{
            display: none;
         }
      }
   }

}