.dropdown-wrapper-shop {
  width: 350px;
  position: absolute;
  right: 0;
  z-index: 9999;
  padding-top: 10px;
  display: none;
}

@media (max-width: 405px) {
  .dropdown-wrapper-shop {
    width: 250px;
  }
}

.shop-items-holder {
  display: block !important;
  background-color: white;
  padding: 20px 20px;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
}

.shop-items-holder .cart-detail .no-products {
  font-size: 100%;
  line-height: 32px;
  font-weight: 400;
  text-align: unset;
}

@media (max-width: 767.98px) {
  .shop-items-holder .cart-detail .no-products {
    font-size: 12px;
    line-height: 18px;
  }
}

.shop-items-holder .items .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
  border-bottom: 1px solid #F1F3FB;
  margin-bottom: 10px;
}

.shop-items-holder .items .item:last-of-type {
  border-bottom: none;
}

.shop-items-holder .items .item-delete {
  top: 0;
  right: 0;
  position: absolute;
}

.shop-items-holder .items .item-delete a {
  color: rgba(0, 0, 0, 0.16);
  z-index: 999;
}

.shop-items-holder .items .item-delete i {
  vertical-align: top;
  cursor: pointer;
}

.shop-items-holder .items .item-image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 30%;
}

.shop-items-holder .items .item-image img {
  height: 93px;
  width: 100%;
}

@media (max-width: 405px) {
  .shop-items-holder .items .item-image img {
    height: 63px;
  }
}

.shop-items-holder .items .item-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-items-holder .items .item-description .item-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.shop-items-holder .items .item-description .item-title h6 {
  padding-right: 15px;
  font-size: 14px;
  color: #898B98;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: none;
  letter-spacing: initial;
}

.shop-items-holder .items .item-description .item-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shop-items-holder .items .item-description .item-info span:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 12px;
  color: #898B98;
}

.shop-items-holder .items .item-description .item-info span:first-of-type input {
  width: 50px;
  border: none;
  color: #898B98;
}

.shop-items-holder .items .item-description .item-info span:first-of-type input:focus {
  outline: none;
}

@media (max-width: 991.98px) {
  .shop-items-holder .items .item-description .item-info span:first-of-type input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    line-height: 24px;
    margin-left: 10px;
    border-radius: 5px;
  }
}

.shop-items-holder .items .item-description .item-info span:last-of-type {
  font-size: 14px;
  color: #898B98;
}

.shop-items-holder .shop-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 6px 10px;
  margin-bottom: 15px;
}

.shop-items-holder .shop-details .info-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.shop-items-holder .shop-details .info-block span {
  font-size: 14px;
  line-height: 14px;
  color: #898B98;
  font-weight: 500;
}

.shop-items-holder .shop-details .total {
  text-align: right;
}

.shop-items-holder .shop-details .total span:last-of-type {
  font-weight: 700;
}

.shop-items-holder .buy {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.shop-items-holder .buy span {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.shop-items-holder .buy:after {
  display: none;
}

@media (max-width: 405px) {
  .shop-items-holder .shop-details .info-block {
    width: unset;
  }
  .shop-items-holder .buy span {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */